header{
    
}
nav{
    height: 55px;
    /*border-bottom: 2px solid blue;*/
}
.navRow{
    height: inherit;
    position: inherit;
    width: 100%;
    border-bottom: 3px solid blue;
}
.navCol1{
    height: inherit;
    position: inherit;
}
.navRow1{
    height: inherit;
    position: inherit;
    width: 100%;
    z-index: 3;
}
.navButtons{
    height: 53px;
    width: 100%;
    border-bottom: 2px solid blue;
}
body{ 
}
section{
    position: absolute;
    top: 30%;
   margin-bottom: 80px;
}
footer{
    height: 55px;
    border-top: 3px solid blue;
}
hr{
    background-color: black;
    height: 1.5px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 4;
  top: 6pt;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.seperatorDiv{
    margin: 0;
    padding: 0;
    border-right: solid #000;
    height: 75%;
    position: relative;
    align-self: center;
}
appsDiv{
    position: absolute;
    bottom: 0;
}
.zoom{
    /*transition: transform .2s;*/
    height: 7px;
}
/*
.zoom:hover{
    transform: scale(1.2);
}*/